* {
  margin : 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  color          : #545454;
  text-decoration: none;
}

.wrapper {
  width : 1200px;
  margin: 0 auto;
}

header {
  height: 90px;
}

header .logo {
  margin-right: 105px;
  float       : left;
  margin-top  : 18px;
}

header .navigator {
  overflow   : hidden;
  float      : left;
  line-height: 90px;
}

header .navigator li {
  margin    : 0 10px;
  text-align: center;
  width     : 80px;
  float     : left;
}

header .navigator li .active {
  color        : #252525;
  font-weight  : bold;
  border-bottom: 3px solid #9bc604;
}

header .navigator li a:hover {
  color           : #252525;
  font-weight     : bold;
  /* border-bottom: 3px solid #9bc604; */
}

header .navigator li a {
  display   : block;
  color     : #545454;
  height    : 85px;
  box-sizing: border-box;
}

header .login {
  padding-right: 28px;
  color        : #999;
  float        : right;
  line-height  : 90px;
}

header .login a {
  padding: 0 12px;
  color  : inherit;
}

.search-wrapper {
  width      : 100%;
  padding-top: 40px;
  box-sizing : border-box;
  height     : 162px;
  background : url("../image/course/1.jpg") no-repeat center #050505;
}

.search-wrapper .search-body {
  color     : #9F9F9F;
  text-align: center;
}

.search-wrapper .search-body .search-layout {
  margin-bottom: 10px;
  font-size    : 35px;
}

.search-wrapper .search-body .search-activity {
  font-size: 17px;
}

.search-img {
  width     : 1200px;
  height    : 1075px;
  margin    : 0 auto;
  margin-top: 30px;
}

.search-img ul {
  margin-right: -15px;
}

.search-img ul .search-title {
  width        : 390px;
  height       : 250px;
  margin-right : 15px;
  font-size    : 0px;
  position     : relative;
  float        : left;
  margin-bottom: 15px;
}

.search-img ul .search-title img {
  width : 390px;
  height: 250px;
}

.search-img ul .search-title .search-list:hover {
  opacity: 1;
}

.search-img ul .search-title .search-list {
  transition      : opacity 0.3s linear;
  opacity         : 0;
  position        : absolute;
  left            : 0;
  top             : 0;
  right           : 0;
  bottom          : 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.search-img ul .search-title .search-list p {
  font-size : 17px;
  color     : #fff;
  text-align: center;
  margin-top: 87px;
}

.search-img ul .search-title .search-list span {
  display         : block;
  height          : 40px;
  width           : 160px;
  background-color: #9bc604;
  color           : #fff;
  margin          : 0 auto;
  margin-top      : 30px;
  font-size       : 16px;
  line-height     : 40px;
  text-align      : center;
  border-radius   : 20px;
}

.search-img ul .search-title .search-list .search-color {
  background-color: #C69F04;
}

.search-img ul .search-title .search-list .search-col {
  background-color: #CCCCCC;
}

.number {
  height: 40px;
  width : 800px;
  margin: 0 auto;
}

.number .previous-page {
  float        : left;
  height       : 40px;
  width        : 100px;
  display      : block;
  border       : 1px solid #CCCCCC;
  text-align   : center;
  line-height  : 40px;
  font-size    : 14px;
  color        : #9bc604;
  margin-right : 10px;
  border-radius: 5px;
}

.number .number-some {
  width       : 10px;
  height      : 40px;
  float       : left;
  text-align  : center;
  line-height : 40px;
  color       : #9bc604;
  margin-right: 10px;
}

.number .number-page {
  border-radius: 5px;
  float        : left;
  margin-right : 10px;
  height       : 40px;
  width        : 50px;
  display      : block;
  border       : 1px solid #CCCCCC;
  color        : #9bc604;
  text-align   : center;
  line-height  : 40px;
  font-size    : 14px;
}

.bottom {
  height          : 120px;
  width           : 100%;
  background-color: black;
  margin-top      : 20px;
  text-align      : center;
}

.bottom p:first-child {
  color         : #5F5F5F;
  padding-top   : 30px;
  padding-bottom: 14px;
  font-size     : 13px;
}

.bottom p:last-child {
  color    : #5F5F5F;
  font-size: 14px;
}

.bottom p:last-child span {
  margin: 0px 10px 0px 10px;
}

.bottom p:last-child a {
  color: inherit;
}